{% extends 'base.html' %}
{% block content %}
	<section>
		<div class="leftBox">
			<div class="content">
				<h1>
					Our Vision
				</h1>

<p>
					Our Vision To provide complete support, protection,
                    and care to needy and deprived people in the society
                    with a special focus on rural communities;
                    and aim to bring a change in their lives.
                        The Trust aims to work with the most marginalised members of the community
                        and help create a safer environment for all Men Women & children ,
                        especially vulnerable children, and to provide support
                        and encouragement to help improve their living and social conditions,
                        through rights-based and ethically sound education,
                        empowerment programmed, vocational training, protection and
                        care and financial independence initiatives in order to help them
                        recognize their importance and value as a responsible individual within civil society.

				</p>

			</div>
		</div>

		<div class="events">
			<ul>
				<li>
					<div class="time">
						<h2>
							 <br><span>Our Values</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Honour, Honesty, Courage, Friendship, Respect, Courtesy, Self Control, Modesty.
						</h3>

<p>
						I would be interested to know if your charity
                        has a set of core values and behaviours,
                        how were they created, how are they reviewed
						</p>


						<a href="#">View Details</a>
					</div>
					<div style="clear: both;"></div>
				</li>

				<li>
					<div class="time">
						<h2>
							 <br><span>Mission</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Relief and assistance to handicapped
						</h3>

<p>
							To provide relief and assistance to handicapped, poor or needy persons and
                            for that purpose to establish,
                                maintain or support charitable institutions, which have the same or similar objects.
						</p>

						<a href="#">View Details</a>
					</div>
					<div style="clear:both;"></div>
				</li>

				<li>
					<div class="time">
						<h2>
							 <br><span>Our Features</span>
						</h2>
					</div>
					<div class="details">
						<h3>
							Honesty, Faith, Best interests, Accountability
						</h3>

<p>
							An academic study into the characteristics of trust in personal financial planning
                              has identified seven characteristics. These being: vulnerability/risk, feeling,
                           honesty, faith, best interests, accountability and competence.
                            Let's take a look at these seven characteristics in more detail
						</p>


						<a href="#">View Details</a>
					</div>
					<div style="clear:both;"></div>
				</li>
			</ul>
		</div>
	</section>

{% endblock %}
